@{
    ViewData["Title"] = "Game View";
}

<div class="center" id="game-field"></div>

@section Scripts
    {
    <environment include="Development">
        <script src="~/lib/pixi.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/pixi.min.js"></script>
    </environment>

    <!--Load vue.js, main.js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>
    <script>
        require.config({
            paths: {
                "index": "./dist/main",
                "@@aspnet/signalr": "./lib/signalr",
                "PIXI":"./lib/pixi"
            }
        });
        require(['index']);
    </script>
}
